.center-card-box{
    width: 350px;
    height: auto;
    padding: 20px;
    box-shadow: 2px 2px 4px #888888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}
@media only screen and (max-width: 600px) {
    .center-card-box{
        width: 100vw;
    }
}